{% extends 'base.html.twig' %}

{% block title %}
    {{ personne.nom|upper ~' '~ personne.prenom|capitalize }}
{% endblock %}
{% block stylesheets %}
    <meta name="robots" content="Currently in 2nd year of a Master's degree in Business Intelligence, I hold a Bachelor's degree in Computer Engineering. I am passionate about IT and constantly looking for new experiences. I have an interest in the fields of BI, data science and am considering a career in it."/>
    <meta name="publisher" content="Oscar mugiraneza">
    <meta name="author" content="Oscar mugiraneza">
    <meta name="keywords" content="mugiraneza, CSS, JavaScript,C#(ASP.NET),SQL SERVER,TRANSACT SQL,PLSQL,UML/MERISE,JAVA,PHP,SYMFONY,JQUERY,TYPESCRIPT,MYSQL,ANGULAR,POSTEGRE,LINUX,NODEJS">
    <meta name="description" content="Currently in 2nd year of a Master's degree in Business Intelligence, I hold a Bachelor's degree in Computer Engineering. I am passionate about IT and constantly looking for new experiences. I have an interest in the fields of BI, data science and am considering a career in it."/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{asset('css/aos.css')}}" rel="stylesheet">
    <link rel="icon" href="{{asset('favicon.ico')}}" />
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('styles/main.css')}}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173026432-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173026432-1');
    </script>
{% endblock %}
{% block nom %}
    {{ personne.nom|upper ~' '~ personne.prenom|upper}}
{% endblock %}
{% block profile %}
    <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style='background-image: url({{asset("images/cc-bg-1.jpg")}}'></div>
        <div class="container">
            <div class="content-center">
                <div class="cc-profile-image"><a href="#about" class="smooth-scroll"><img src="{{asset('uploads/logo/'~personne.portrait)}}" alt="Image"/></a></div>
                <div class="h2 title">{{ personne.nom|upper ~' '~ personne.prenom|capitalize }}</div>
                <p class="category text-white">{{personne.profession}}</p>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contactez-moi</a>
                <a class="btn btn-primary" href="{{asset('uploads/logo/'~personne.cvpdf)}}" target = "_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Télécharger CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    {% for lien in personne.reseauxes %}
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="{{ lien.lien}}" target = "_blank" rel="tooltip" title="{{ lien.libelle }}"><i class="{{ lien.icon }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block apropos %}
    <p>{{ personne.apropos }}</p>
    {#<p>Actuellement en 2e année d'un Master Informatique décisionnelle, je suis titulaire d'une licence en génie logiciel.</p>
    <p>Je suis passionné par l'informatique et constamment en quête de nouvelles expériences.</p>
    <p>J'ai un intérêt pour les domaines de la BI, la data science et envisage d'y faire carrière.</p>#}
{% endblock %}
{% block information %}
    <div class="h4 mt-0 title">Informations générales</div>
    <div class="row">
        <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
        <div class="col-sm-8">{{ personne.age }} ans</div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Email :</strong></div>
        <div class="col-sm-8">{{ personne.email}}</div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Téléphone :</strong></div>
        <div class="col-sm-8">{{ personne.telephone}}</div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Adresse :</strong></div>
        <div class="col-sm-8">{{ personne.adresse }}</div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4"><strong class="text-uppercase">Languages :</strong></div>
        <div class="col-sm-8">{{ personne.langues }}</div>
    </div>
{% endblock %}
{% block competenceprog %}
    <div class="row">
        {% for connaissance in personne.competencesprogs %}
            <div class="col-md-6">
                <div class="progress-container progress-primary"><span class="progress-badge">{{ connaissance.libelle }}</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="{{ connaissance.niveau }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ connaissance.niveau }}%;"></div><span class="progress-value">{{ connaissance.niveau }}%</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block competencedata %}
    <div class="row">
        {% for connaissance in personne.competencesData %}
            <div class="col-md-6">
                <div class="progress-container progress-primary"><span class="progress-badge">{{ connaissance.libelle }}</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="{{ connaissance.niveau }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ connaissance.niveau }}%;"></div><span class="progress-value">{{ connaissance.niveau }}%</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block experienceprofessionnel %}
    {% for experience in personne.experiences %}
    <div class="card">
        <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                    <p>{{ experience.moisdebut~' '~experience.anneedebut~' – '~experience.moisfin~' '~experience.anneefin}}</p>
                    <div class="h5">{{experience.entreprise}}</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h5">{{experience.libelle}}</div>
                    <p>{{experience.description}}</p>
                    {# <ul  class="">
                         <li class=""> Réalisation d'une analyse technique pour identifier les besoins du client</li>
                    </ul>#}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block diplomeformation %}
    {% for parcours in personne.diplomes %}
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>
                            {% if not parcours.anneefin %}
                                {{ 'Depuis '~parcours.moisdebut|lower ~' '~ parcours.anneedebut }}
                            {% else %}
                                {{ parcours.anneedebut~ '-'~parcours.anneefin }}
                            {% endif  %}
                        </p>
                        <div class="h5">{{ parcours.description }}</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">{{ parcours.libelle }}</div>
                        <p class="category">{{ parcours.entreprise|upper ~' '~ parcours.ville|upper }} </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block adresse %}
    <p class="mb-0"><strong>Adresse </strong></p>
    <p class="pb-2">{{ personne.adresse }}</p>
    <p class="mb-0"><strong>Téléphone</strong></p>
    <p class="pb-2">{{ personne.telephone }}</p>
    <p class="mb-0"><strong>E-mail</strong></p>
    <p>
    {% for mailes in personne.emails %}
        {{ mailes.libelle}}
    {% endfor %}
    </p>
{% endblock %}
{% block footer %}
    <div class="container text-center">
        {% for lien in personne.reseauxes %}
            <a class="{{ lien.styles}}" href="{{ lien.lien}}" target = "_blank"><i class="{{ lien.icon }} fa-2x " aria-hidden="true"></i></a>
        {% endfor %}
    </div>
    <div class="h4 title text-center">{{ personne.nom|upper ~' '~ personne.prenom|capitalize }}</div>
{% endblock %}